<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>my_app.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>198FB9B532DFC692A1AA65A0517C6AAD72718A86</string>
				<key>dateExpires</key>
				<string>9/24/23</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>198FB9B532DFC692A1AA65A0517C6AAD72718A86</string>
						<key>dateExpires</key>
						<string>9/24/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FV573XW2W2</string>
						<key>name</key>
						<string>Chizaram Chibueze</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>198FB9B532DFC692A1AA65A0517C6AAD72718A86</string>
						<key>dateExpires</key>
						<string>9/24/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>AppAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FV573XW2W2</string>
						<key>name</key>
						<string>Chizaram Chibueze</string>
					</dict>
					<key>versionNumber</key>
					<string>1.6.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>198FB9B532DFC692A1AA65A0517C6AAD72718A86</string>
						<key>dateExpires</key>
						<string>9/24/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FV573XW2W2</string>
						<key>name</key>
						<string>Chizaram Chibueze</string>
					</dict>
					<key>versionNumber</key>
					<string>2.1.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>198FB9B532DFC692A1AA65A0517C6AAD72718A86</string>
						<key>dateExpires</key>
						<string>9/24/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseAppCheckInterop.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FV573XW2W2</string>
						<key>name</key>
						<string>Chizaram Chibueze</string>
					</dict>
					<key>versionNumber</key>
					<string>10.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>198FB9B532DFC692A1AA65A0517C6AAD72718A86</string>
						<key>dateExpires</key>
						<string>9/24/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FV573XW2W2</string>
						<key>name</key>
						<string>Chizaram Chibueze</string>
					</dict>
					<key>versionNumber</key>
					<string>10.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>198FB9B532DFC692A1AA65A0517C6AAD72718A86</string>
						<key>dateExpires</key>
						<string>9/24/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseAuthInterop.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FV573XW2W2</string>
						<key>name</key>
						<string>Chizaram Chibueze</string>
					</dict>
					<key>versionNumber</key>
					<string>10.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>198FB9B532DFC692A1AA65A0517C6AAD72718A86</string>
						<key>dateExpires</key>
						<string>9/24/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FV573XW2W2</string>
						<key>name</key>
						<string>Chizaram Chibueze</string>
					</dict>
					<key>versionNumber</key>
					<string>10.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>198FB9B532DFC692A1AA65A0517C6AAD72718A86</string>
						<key>dateExpires</key>
						<string>9/24/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreExtension.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FV573XW2W2</string>
						<key>name</key>
						<string>Chizaram Chibueze</string>
					</dict>
					<key>versionNumber</key>
					<string>10.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>198FB9B532DFC692A1AA65A0517C6AAD72718A86</string>
						<key>dateExpires</key>
						<string>9/24/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreInternal.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FV573XW2W2</string>
						<key>name</key>
						<string>Chizaram Chibueze</string>
					</dict>
					<key>versionNumber</key>
					<string>10.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>198FB9B532DFC692A1AA65A0517C6AAD72718A86</string>
						<key>dateExpires</key>
						<string>9/24/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseStorage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FV573XW2W2</string>
						<key>name</key>
						<string>Chizaram Chibueze</string>
					</dict>
					<key>versionNumber</key>
					<string>10.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>198FB9B532DFC692A1AA65A0517C6AAD72718A86</string>
						<key>dateExpires</key>
						<string>9/24/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FV573XW2W2</string>
						<key>name</key>
						<string>Chizaram Chibueze</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>198FB9B532DFC692A1AA65A0517C6AAD72718A86</string>
						<key>dateExpires</key>
						<string>9/24/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GTMAppAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FV573XW2W2</string>
						<key>name</key>
						<string>Chizaram Chibueze</string>
					</dict>
					<key>versionNumber</key>
					<string>1.3.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>198FB9B532DFC692A1AA65A0517C6AAD72718A86</string>
						<key>dateExpires</key>
						<string>9/24/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FV573XW2W2</string>
						<key>name</key>
						<string>Chizaram Chibueze</string>
					</dict>
					<key>versionNumber</key>
					<string>2.3.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>198FB9B532DFC692A1AA65A0517C6AAD72718A86</string>
						<key>dateExpires</key>
						<string>9/24/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleSignIn.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FV573XW2W2</string>
						<key>name</key>
						<string>Chizaram Chibueze</string>
					</dict>
					<key>versionNumber</key>
					<string>6.2.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>198FB9B532DFC692A1AA65A0517C6AAD72718A86</string>
						<key>dateExpires</key>
						<string>9/24/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FV573XW2W2</string>
						<key>name</key>
						<string>Chizaram Chibueze</string>
					</dict>
					<key>versionNumber</key>
					<string>7.10.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>198FB9B532DFC692A1AA65A0517C6AAD72718A86</string>
						<key>dateExpires</key>
						<string>9/24/23</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>FV573XW2W2</string>
						<key>name</key>
						<string>Chizaram Chibueze</string>
					</dict>
					<key>versionNumber</key>
					<string>2.30909.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>FV573XW2W2.com.example.myApp</string>
				<key>com.apple.developer.team-identifier</key>
				<string>FV573XW2W2</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>d67e4943-a03f-4df9-99df-f4351d0d359d</string>
				<key>dateExpires</key>
				<string>9/24/23</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: *</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>FV573XW2W2</string>
				<key>name</key>
				<string>Chizaram Chibueze</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.0</string>
		</dict>
	</array>
</dict>
</plist>
